Repository Deltares/hydromt_wflow, pull requests merged in 2023-06, with the labels that each got.

#172 Update methods around gauges
  docs/api.rst
  docs/changelog.rst
  docs/user_guide/sediment_model_setup.rst
  docs/user_guide/wflow_model_setup.rst
  examples/wflow_build.ini
  examples/wflow_sediment_build.ini
  hydromt_wflow/data/wflow/wflow_sbm.toml
  hydromt_wflow/data/wflow_sediment/wflow_sediment.toml
  hydromt_wflow/wflow.py
  hydromt_wflow/wflow_sediment.py
  hydromt_wflow/workflows/__init__.py
  hydromt_wflow/workflows/gauges.py
  hydromt_wflow/workflows/waterbodies.py
  tests/data/wflow_piave_build_subbasin.ini
  tests/data/wflow_sediment_piave_build_subbasin.ini
  tests/test_model_methods.py
Labels: enhancement, setup methods

#184 Rootzone clim
  docs/api.rst
  docs/changelog.rst
  docs/user_guide/wflow_model_setup.rst
  hydromt_wflow/wflow.py
  hydromt_wflow/workflows/__init__.py
  hydromt_wflow/workflows/rootzoneclim.py
  hydromt_wflow/workflows/soilgrids.py
  tests/data/df_sub_dummy.csv
  tests/test_model_methods.py
Labels: enhancement, workflows, setup methods

#188 bugfix config updating
  hydromt_wflow/wflow.py
Labels: bug
